<h1> S'up </h1>
<form action='/bday' method="post">
  <label for="fname">
    What's your name?
    <input type="text" id="fname" name="name">
  </label>
  <label for="bday">
    When's your birthday?
    <input type="text" id="bday" name="bday">
  </label>
  <label for="month">
    Month:
    <input type="text" id="month" name="month"
  </label>
  <input type="submit" value="Leggo"
</form>
